/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hero__title, .our-services__title, .about-us__title, .our-projects__title, .testimonial__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 1.17647;
}

.navigation__btn, .our-projects__btn {
  border: none;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #2f2e2e;
  background-color: #ffffff;
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid black;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 47px;
  padding-bottom: 20px;
}

.logo {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.19048;
  color: #2f2e2e;
}

.logo:hover, .logo:focus {
  color: rgba(47, 46, 46, 0.3);
}

.nav-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 106px;
}

.navigation__item:last-child {
  margin-right: 64px;
}

.navigation__link {
  padding-top: 67px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #2f2e2e;
}

.navigation__link:hover, .navigation__link:focus {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.navigation__btn {
  display: block;
  padding: 0;
  width: 25px;
  height: 21px;
  color: #2f2e2e;
}

.navigation__btn:hover, .navigation__btn:focus {
  color: rgba(47, 46, 46, 0.3);
}

.navigation-button__icon {
  fill: currentColor;
}

.hero {
  max-width: 1150px;
  max-height: 739px;
  background-image: url("../../../image/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 691px;
  height: 550px;
  background-image: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}

.hero__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.21875;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 33px;
  padding-left: 33px;
  width: 162px;
  height: 56px;
  background-color: rgba(244, 246, 245, 0.7);
}

.our-services {
  padding-top: 16px;
  padding-bottom: 65px;
  background-color: rgba(37, 77, 77, 0.2);
}

.our-services__title {
  text-align: center;
  margin-bottom: 45px;
}

.our-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 105px;
}

.our-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 158px;
}

.our-services__item:not(:last-child) {
  margin-right: 304px;
}

.our-services__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  background-color: #254d4d;
  color: #ffffff;
}

.our-services__subtitle {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.18519;
  margin-bottom: 9px;
}

.our-services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
}

.about-us__text {
  font-weight: 400;
  font-size: 31px;
  line-height: 1.16129;
}

.about-us__link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20833;
  color: #2f2e2e;
}

.about-us__link:hover, .about-us__link:focus {
  color: rgba(47, 46, 46, 0.3);
}

.our-projects__btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #2f2e2e;
}

.our-projects__btn:hover, .our-projects__btn:focus {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.our-projects__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
}

.testimonial__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
}

.testimonial__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29412;
}

.footer {
  background-color: #2e2f32;
  color: #fafafa;
}

.footer__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.20833;
}

.left-part__title {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.19048;
}

.left-part__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.70588;
}

.articles__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23529;
  color: #fafafa;
}

.articles__link:hover, .articles__link:focus {
  color: #c4c4c4;
}

.links__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23529;
  color: #fafafa;
}

.links__link:hover, .links__link:focus {
  color: #c4c4c4;
}
/*# sourceMappingURL=main.css.map */