.our-projects {
  padding-bottom: 90px;
}

.our-projects__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
}

.our-projects__listMenu {
  display: flex;
}

.our-projects__itemMenu:not(:last-child) {
  margin-right: 113px;
}
.our-projects__title {
  @extend %title;
}
.our-projects__btn {
  @include fontFamily(i);
  @include fontStyle(400, 20, 24);

  @extend %button;

  color: map-get($colors, 'primiryText');

  &:hover,
  &:focus {
    @include fontStyle(700, 20, 24);
  }
}

.our-projects__imgList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 104px;
  text-align: center;
}
.our-projects__image {
  margin-bottom: 13px;
}
.our-projects__text {
  @include fontStyle(400, 18, 21);

  @include pushAuto;
  max-width: 178px;
}
