.articles__item {
  width: 201px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.articles__link {
  @include fontFamily(i);
  @include fontStyle(400, 17, 21);

  color: map-get($colors, 'footerText');

  &:hover,
  &:focus {
    color: map-get($colors, 'scrollActive');
  }
}
